.image {
  display: none;
}

.main-page {
  padding: 50px 50px;
  font-size: 16px;
}
.title {
  font-size: 62px;
  letter-spacing: 17px;
}

#image-mobile {
  display: block !important;
}
